addict==2.2.1
alabaster==0.7.12
appdirs==1.4.3
atomicwrites==1.3.0; sys_platform == "win32"
attrs==19.3.0
autopep8==1.5
babel==2.8.0
beautifultable==0.8.0
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
click==7.0
colorama==0.4.3; sys_platform == "win32"
cycler==0.10.0
docutils==0.16
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0; python_version < "3.8"
jedi==0.15.2
jinja2==2.11.1
kiwisolver==1.1.0
markupsafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
more-itertools==8.2.0
multidict==4.7.5
musicbrainzngs==0.7.1
numpy==1.18.1
packaging==20.1
parso==0.6.2
pathspec==0.7.0
pbr==5.4.4
pillow==7.0.0
pluggy==0.13.1
progress==1.5
pudb==2019.2
py==1.8.1
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pygments==2.5.2
pyls-black==0.4.4
pyparsing==2.4.6
pytest==5.3.5
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.8
pytz==2019.3
regex==2020.2.20
requests==2.23.0
rope==0.16.0
six==1.14.0
snowballstemmer==2.0.0
sphinx==2.4.4
sphinx-click==2.3.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.0
typed-ast==1.4.1
ujson==5.4.0; platform_system != "Windows"
urllib3==1.25.8
urwid==2.1.0
wcwidth==0.1.8
wordcloud==1.6.0
yapf==0.29.0
zipp==3.0.0; python_version < "3.8"
